body {
    background-color: rgb(235, 235, 235);
}

.head {
    padding-top: 15px;
    margin: -4px;
    width: 101%;
    height: 60px;
    background-color: rgb(255, 255, 255);
    display: flex;
    position: relative;
    top: -3px;
    margin-bottom: 5px ;
}

.one {
    width: 110px;
    height: 40px;
    margin-left: 27px;
    margin-top: 4px;
    background-color: rgb(20, 165, 209);
    border-color: unset;
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.one:hover {
    background-color: rgb(16, 135, 182);
}

.second {
    width: 110px;
    height: 40px;
    margin-left: 30px;
    background-color: rgb(13, 197, 53);
    border-color: unset;
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.second:hover {
    background-color: rgb(7, 150, 7);
}

.third {
    width: 500px;
    height: 35px;
    margin-left: 50px;
    font-size: 20px;
    outline: none;
}

.search {
    width: 20px;
    height: 20px;
    position: relative;
    top: 6px;
    left: -50px;
}

.logo {
    width: 135px;
    height: 35px;
    position: relative;
    top: 10px;
    margin-left: 25px;
}

.left {
    /*display: flex-left;*/
    width: 260px;
    height: 120px;
    background-color: white;
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-size: 20px;
}

.red {
    color: red;
    font-weight: bold;
}

.butt {
    width: 270px;
    height: 217px;
    margin-top: 4px;
    float: left;
}

.button {
    width: 123px;
    height: 35px;
    margin-bottom: 4px;
    margin-top: 4px;
    margin-left: 4px;
    color: red;
    background-color: white;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 17px;
    cursor: pointer;
}

.button:hover {
    background-color: red;
    color: white;
}

.butto {
    text-decoration: none;
    color: red;
}

.js {
    width: 270px;
}

.half {
    width: 300px;
    height: 100%;
    float: left;
    display: inline-block;
}

.mid {
    width: 500px;
    height: 600px;
    margin-top: 100px;
    background-color: wheat;
    display: inline-flex;
    position: relative;
    top: -180px
}
.container
{
    width: 710px;
    height: 2000px;
    display: inline-block;
    border: none;
}
.address
{
width: 710px;
height: 50px;
border: #ddd 1px solid;
background-color: white;
text-align: center;
display: inline-block;
margin: 0;
float: right;
}

.most
{
    background-color: white ;
    color: black; 
    width: 200px;
    height: 36px;
    border: none;
    display: inline-block;
    float: right;
    

}
.space
{
    background-color: white ; 
    width: 400px;
    height: 36px;
    border: none;
    display: inline-block;
}
.more
{
    background-color: white ;
    color: blue; 
    width: 100px;
    height: 36px;
    border: none;
    display: inline-block;
    float: left;
}

.films
{
    width: 700px;
    height: 300px;
    padding: 5px;
    border: solid #ddd 1px;
    border-top: 0px;
    background-color: white;
    text-align: center;
    margin:0px 0px 10px 0px ;
    float: right;
    display: flex;
    overflow-x: scroll;

}
.choose
{
    width: 130px;
    height: 270px;
    display: inline-block;
    text-align: center;
    float: right;
    border: none;   
    padding: 5px;
    
}
img
{
    width: 138px;
    height: 200px; 
     
}
a
{
    color: rgba(0, 0, 255, 0.829);
    text-decoration: none;
}
a:hover
{
    color: gray;
}
.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: -20;
}

.sticky+.content {
    padding-top: 102px;
}

.right {
    margin-top: 20px;
    float: right;
    text-align: right;
    background-color: white;
    width: 150px;
    height: 160px;


}

.ri {
    padding: 4px;
    margin: 4px;
    color: rgb(0, 46, 145);
    font-size: 20px;
    cursor: pointer;
    display: inline;
}

.ri:hover {
    color: red;
}

.line {
    width: 150px;
    height: 0.5px;
    background-color: black;
    /*border: 1px solid black;*/
}

a {
    text-decoration: none;
}